<div layout="column" ng-cloak>
  <md-toolbar  class="md-toolbar-tools" id="toolbar">
    <md-card-header>
      <md-card-avatar style="margin-right:5px;">
        <img class="logo"  src="images/team_logo/ipl-logo.svg" ng-if="flag1"  alt="logo image">
      </md-card-avatar>
    </md-card-header>

   <md-button ng-click="toggleLeft()" class="md-icon-button" ng-if="flag2" aria-label="sidebar">
     <i class="material-icons">menu</i>
   </md-button>

    <strong class="text">IPL20/20</strong>
        <span flex></span>

</md-toolbar>
</div>
